@(message: String)

@main("お買い物リスト") {

	<div class="col-xs-8 col-md-8 col-sm-8 col-lg-8" >
		<ul data-bind="foreach:comodityItems">
			<li data-bind="click:clickComodityItem.bind($data)">
				<p data-bind="text:itemName"></p>
				<p data-bind="text:cost"></p>
			</li>
		</ul>
	</div>
	<div class="col-xs-4 col-md-4 col-sm-4 col-lg-4" >
		<ul data-bind="foreach:likeItems">
			<li data-bind="click:clicklikeItems.bind($data)">
				<p data-bind="text:itemName"></p>
				<p data-bind="text:cost"></p>
			</li>
		</ul>
	</div>


}
